WindowsForms/Connected Services/WCFUtils/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRoleGarage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRoleGarage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Option">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caracteristique" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prix" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
  <xs:complexType name="Vehicule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categorie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NbRoue" type="xs:int" />
      <xs:element minOccurs="0" name="Options" nillable="true" type="tns:ArrayOfOption" />
      <xs:element minOccurs="0" name="Plaque" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicule" nillable="true" type="tns:Vehicule" />
  <xs:complexType name="ArrayOfOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption" />
</xs:schema>